
body, * {
    
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

nav {

    padding: 40px 200px;
    box-sizing: border-box;
    background-color: #1F2937;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 8px;
}

nav a {
    color: #E5E7EB;
    text-decoration: none;
}

.header_logo{
    font-size: 24px;
    color: #F9FAF8;
    margin-right:auto;
}

.hero {
    box-sizing: border-box;
    padding: 40px 200px;
    height: 600px;
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    /* flex-wrap: wrap; */
   
}
.hero_text {
    flex: 1 1 400px;
}
.hero_main_text {
    padding: 0;
    margin: 0;
    max-width: 600px;
    font-size: 48px;
    font-weight: 900;
    
}
.hero_img {
    flex: 1 1 400px;
}
.hero_btn {
    color: #E5E7EB;
    background-color: #3882F6;
    padding: 10px;
    width: 100px;
    border-radius: 5%;
    border: none;
    cursor: pointer;
}

.info_header{
    padding: 40px 0px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.gallary {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    margin: 40px;
    margin: 50px 0px;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card img{
    width: 300px;
    height: 200px;
}
caption {
    text-align: center;
}
.testimonial {
    padding: 40px 200px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    margin: 50px 0px;
}
.quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;   
    font-weight: 300;

}
#thor {
    font-size: 30px;
    font-weight: 900;
    align-self: flex-end;
    
}
.sign_up {
    padding: 40px 200px;
   
}
.call_action {
    padding: 40px 20px;
    background-color: #3882F6;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.call_btn {
    color: #E5E7EB;
    width: 100px;
    background-color: #3882F6;
    border: 2px solid #E5E7EB ;
    border-radius: 10px;
}

footer {
    padding: 20px;
    background-color:#1F2937;
    color:#E5E7EB ;
    text-align: center;
}

